<h1>Hello, <%= @user.username %>!</h1>

<h2>What would you like to do?</h2>

<p> Your Clients: </p>
 <% if @user.clients.length == 0 %>
  <p> You have no clients. </p>
    <h3><a href="/clients/new">Add a Client</a></h3>
 <% end %>
  <% @user.clients.each do |client| %>
   <ul>
      <li><%= client.name %></a></li>
    </ul>
  <% end %>

  <p>Your Appointments: </p>
  <% if @user.appointments.length == 0 %>
  <p> You have no appointments.</p>
    <h3><a href="/appointments/new">Add An Appointment</a></h3>
  <% end %>
   <% @user.appointments.each do |appointment| %>
    <ul>
      <li><a href="/appointments/<%=appointment.id%>"><%= appointment.name %></a></li>
    </ul>
  <% end %>
  <br>

<a href="/logout">Log Out</a>
