<h1><%= @client.name %></h1>
<h3>Edit Client Info:</h3>

<form action="/clients/<%=@client.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label> Client Name </label>
  <input type="text" name="name"></br>

  <label> Client Notes </label>
  <input type="text" name="notes"></br>

  <input type="submit" value="Update">
</form>
