
<h1><%= @client.name %></h1><br>
<% @client.notes.each do |note| %>
<%= note.content %><br>
<% end %>

<form action="/clients/<%=@client.id%>" method="post">
  <textarea name="content" value=""></textarea>
  <input type="submit" value="Add Note">

</form>

<a href="/users/show">Return to your Homepage</a>
