<h1>Edit <%= @appointment.client.name %>'s Appointment</h1>

<form action="/appointments/<%=@appointment.id %>" method="POST">
  <label> Client Name </label>
  <input type="text" name="name" value="<%=@appointment.client.name %>"> </br>


  <label> Appointment Date and Time </label>
  <p>Choose a date an time(ex.09:30am): </p>
  <input type="datetime-local" name="date" />
  <input type="submit" value="Update">
</form>
