<h1>Create a New Appointment</h1>

<p>Choose from clients: </p>
<br>
<p><a href="/clients/new">Add a new client: </a></p>
<br>
<p>Choose a date an time(ex.09:30am): </p>
<form method="POST" action="/appointments/date">
<input type="datetime-local" name="date" />
<input type="submit" />
</form>
