<h1>Create a New Appointment</h1>

<p>Choose from clients: </p>
<br>
<form method="POST" action="/appointments/new">
<select name="client_id">
  <% @clients.each do |client| %>
    <option value="<%= client.id %>"><%= client.name %></option>
  <% end %>
</select>
<p><a href="/clients/new">Add a new client: </a></p>
<br>
<p>Choose a date an time(ex.09:30am): </p>
<input type="datetime-local" name="date"/>
<input type="submit" />
</form>
